<div class="center jumbotron">
  <h1>Welcome </h1>

  <h2>
    
    User Management System Application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("Cloud9.jpg", alt: "Cloud9 logo"),
            'http://rubyonrails.org/' %>
